<!DOCTYPE html>
<!-- 
This is the base HTML file serves as the template for all pages on the site.

The language of the site is set in the HTML tag. 
Specifying GB so that robots read the page in an British accent.
Useful for translating, spell-checking, screen reading among other things. 
-->
<html lang="en-GB">

  <!-- 
  The head included using Liquid Markup.
  The head is chunky with long lines, much easier to maintain in a separate file.
  Also may get re-used eventually.
  -->
  {% include head.html %}

  <!-- HTML requires all visible content to occur within the body. -->
  <body>
    <!-- 
    The visible content is split between the nav, main and a footer sectioning elements.
    
    Header tag is not needed if the header is fully contained in a h# tag.
    It is conventional (and useful) for the masthead to link to the homepage.
    -->
    <h1><a href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <!-- The navigation for a personal blog is small. -->
    <nav>
      <div class="site-nav">
        <a href="{{ site.url }}{{ site.baseurl }}/about/">about</a> -
        <a href="{{ site.url }}{{ site.baseurl }}/archive/">archive</a>
      </div>
    </nav>

    <!-- 
    Pages using this layout will have their primary content inserted here.
    The main tag helps machines separate the real content from the surrounding fluff.
    A sectioning element should wrap the content in the content file (article or section).
    -->
    <main>
      {{ content }} <!-- It is a variable, not magic. -->
    </main>
    
    <!-- 
    The footer contains unimportant links and external links. 
    Content links live in the nav at the top of the page.
    This is not for navigation but for other things of interest.
    -->
    <footer>
      <div class="site-footer">

        <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS</a> 
        -
        <a href="github.com/t3hmun">My Github</a> 
        -
        <a href="t3hmun.github.io">My Main Site</a> 
        - 
        blog <em>at</em> t3hmun <em>dot</em> com

      </div>
    </footer>
  </body>

</html>